{% extends "polls/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'polls/css/detail.css' %}">

<div class="detail-container">
    <h2 class="question-title">{{ question.question_text }}</h2>

    <form action="{% url 'polls:vote' question.id %}" method="post" class="vote-form">
        {% csrf_token %}
	{% if error_message %}
    <p class="error-message"><strong>{{ error_message }}</strong></p>
	{% endif %}
        {% with choices=question.choice_set.all %}
            <ul class="choice-list">
                {% for choice in choices %}
                <li>
                    <input type="radio" name="choice" id="choice_{{ choice.id }}" value="{{ choice.id }}">  
                    <label for="choice_{{ choice.id }}">{{ choice.choice_text }}</label>
                </li>
                {% empty%}
                    <a> {{question.question_text}} 는 선택된 Choice가 없습니다.</a>
                {% endfor %}
            </ul>
                {% if choices %}
                    <div class="submit-btn-wrap">
                        <input type="submit" value="Vote" class="submit-btn">
                    </div>
                {% endif %}
        {% endwith %}
    </form>
</div>
{% endblock %}